<%= render 'layouts/header' %>
<div class="container" style="margin-top: 70px">



<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>

</div>

  <% if signed_in? %>
  <% else%>
      <div class="footerpagprincipal">
        <div class="container">
          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
  <% end%>

