<footer class="footer">
  <small>
    <a href="http://notelimites.com/">NoTeLimites.com v.1</a>
    by Manuel Mendoza
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ayuda", ayuda_path %></li>
      <li><%= link_to "Nosotros",   nosotros_path %></li>
      <li><%= link_to "Contactanos", contacto_path %></li>
      <li><%= link_to "Terminos y Condiciones", terminos_path %></li>
      <li><a href="http://notelimites.com/">Historia</a></li>
    </ul>
  </nav>
</footer>